[defaults]
inventory = environments/prod
vault_identity_list = user.secrets@.user.secrets.yml.pass , org.secrets@.org.secrets.yml.pass , org.secrets.dev@.org.secrets.dev.yml.pass , user.secrets.dev@.user.secrets.dev.yml.pass , org.secrets.prod@.org.secrets.prod.yml.pass , user.secrets.prod@.user.secrets.prod.yml.pass , org.secrets.testing@.org.secrets.testing.yml.pass , user.secrets.testing@.user.secrets.testing.yml.pass
remote_user = root